.creatPost{
          background-color: black;
          text-align: center;
          position: relative;
          bottom : 1000px;
          width: 100%;
          height: calc(100vh - 80px);
          display: grid;
          place-items: center;
}
.creatPost .container{
          text-align: center;
          position: relative;
          width: 500px;
          height: auto;
          padding: 20px;
          
}
.container h1{
          color: goldenrod;
          
}
.container label{
          font-size: 25px;
}
.container .inputGp {
          margin-top: 30px;
          display: flex;
          flex-direction: column;
          color: blanchedalmond;
}
.inputGp input,
.inputGp textarea{
          font-size: 18px;
          border: 1px;
          border-radius: 2px;
          padding: 5px;
}
.inputGp input{
          height: 40px;
}
.inputGp textarea{
          height: 150px;
}
.container button{
          margin-top: 20px;
          height: 40px;
          width: 150px;
          border: 1px;
          border-radius: 5px;
          cursor: pointer;
          font-size: 18px;
          background-color: goldenrod;
}
input,textarea{
          margin-top: 5px;
}